body {
  font-family: 'Fira Sans', sans-serif;
  color: #8d8d8d;
  font-size: 18px;
  color: #222222;
}

button {
  display: block;
  border: none;
  background: transparent;
}
header {
  padding: 25px 0 15px 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-style: normal;
  color: #151515;
  margin: 0;
  padding: 0;
}
span {
  display: block;

  text-align: center;
}
ul,
li {
  padding: 0;
  margin: 0;
  display: block;
  border: 0;
  width: 180px;
}
.menu {
  display: flex;
  justify-content: space-around;
}
.second {
  margin: 0;
  padding: 0;
  border: 0;
}
.menu__item a {
  color: black;
}
.photo1 {
}
.d-flex {
  display: flex;
}
.space-around {
  justify-content: space-between;
}
.servises {
  display: flex;
  justify-content: space-between;
  padding-top: 5vh;
}

.smallphoto {
}
@media screen and (max-width: 766px) {
  .servises {
    display: table;
    margin: 0 auto;
  }
  .servise {
    float: left;
  }
}
@media screen and (max-width: 540px) {
}
